<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ads</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<a class="p-2 text-dark" href="/add"><h5 align="right">Add advertisment</h5></a>
    <div class="container">
        <div th:each="element : ${ads}" class="alert alert-info mt-2">
            <h3 th:text="'Author - ' + ${element.lastName} + ' ' + ${element.firstName}"/>
            <p th:text="${element.text}"/>
            <a th:href="'/edit/' + ${element.id}" class="btn btn-warning">edit</a>
            <form th:action="'/delete/' + ${element.id}" method="post">
                <button type="submit" class="btn btn-warning">delete</button>
            </form>
        </div>
    </div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>